@model EmailsImporter.Models.AuthStatus

<section id="body" class="gallery">
    <div class="container" id="container">
    </div>
</section>

@section scripts
{
    <script src="~/Scripts/app.js"></script>
    <script type="text/javascript">
        $(function() {
            app.init('@Model.IsGoogleAppAuthorized','@Model.IsMicrosoftAppAuthorized');
        });
    </script>
}
