<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Import Emails from Gmail & Microsoft</h1>
                <h2>Import unread emails from Gmail using <a href="https://developers.google.com/gmail/api/guides">Gmail API</a> and Microsoft using <a href="https://learn.microsoft.com/en-us/graph/api/user-list-messages?view=graph-rest-1.0&tabs=csharp">Graph API</a>.</h2>

                <div>
                    <a href="/Home/AuthorizeGmailApp" id="btnAuthorizeGmail" class="btn-authorize">Authorize Gmail App</a>
                    <a href="JavaScript:void(0);" id="btnImportGmail" class="btn-import d-none" onclick="app.fetchGoogleEmails()">Import from Gmail</a>

                    <a href="/Home/AuthorizeMsMailApp" id="btnAuthorizeMsMail" class="btn-authorize">Authorize Microsoft App</a>
                    <a href="JavaScript:void(0);" id="btnImportMsMail" class="btn-import ms-3 d-none" onclick="app.fetchMicrosoftEmails()">Import from Microsoft</a>
                </div>
            </div>

            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="~/Content/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->